body {
    background: #fafafa;
    font-size: 16px;
    padding: 5%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-left {
    align-self: flex-start;
    min-width: 450px;
    margin: 0 90px 0 0;
}

.container-right {
    margin-left: -100px;
    min-width: 350px;
}

.box {
    border: solid 1px rgba(189, 189, 189, 0.829);
    border-radius: 2px;
    box-shadow: none;
    margin: 0;
    padding: 10%;
}

.content-logo {
    margin-bottom: 20px;
}

.logo {
    background-image: url(http://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
    background-position: 0% 37%;
    color: #262626;
    display: block;
    height: 52px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    width: 180px;
}

.content-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    background: #fafafa;
    border-radius: 2px;
    margin: 6px;
    padding: 10px;
    width: 100%;
}

.btn {
    background-color: #0095F6;
    color: #fff;
    font-weight: 600;
    margin: 8px 40px;
    height: 30px;
    width: 100%;
}

.btn:hover {
    background-color: #0095F6;
    color: #fff;
    font-weight: 600;
    margin: 8px 40px;
    height: 30px;
    width: 100%;
}

.hr-row {
    color: #8e8e8e;
    display:flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
}

.line {
    align-self: center;
    background-color: #8e8e8e;
    margin: 0 10px 15px;
    height: 0.5px;
    width: 120px;
}

.link-1 {
    color: #385185;
    font-size: 16px;
    font-weight: bold;
}

.link-1:hover {
    color: #385185;
    font-size: 16px;
    font-weight: bold;
}

.link-2 {
    color: #385185;
    font-size: 14px;
    text-decoration: none;
}

.link-2:hover {
    color: #385185;
    font-size: 14px;
    text-decoration: none;
}

.text-area {
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.link-3  {
    color: #0095F6;
    font-weight: 600;
}

.link-3:hover  {
    color: #0095F6;
    font-weight: 600;
}

.text-area-2 {
    color: black;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}

.down-mobile {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mobile {
    width: 136px;
    margin: 10px;
}

.bg-iphone {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background-image: url(http://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png);
    background-position: 40px -15px;
    background-size: 454px 618px;
    -webkit-flex-basis: 454px;
    -ms-flex-preferred-size: 454px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
}

.item-img {
    width: 56.5%;
    margin: 81px -120px 0px 2px;
}
