@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro:wght@200&family=Source+Serif+Pro:wght@600&display=swap');
*{
    margin: 0;
}
body{
    background-color: #f8f8f8 ;
    color: #302e2e ;
}

.header-port{
    color: #f8f8f8;
    background-color: #302e2e;
    position: fixed;
    width: 100%;    
}
.title-port{    
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
}
.name-port{ 
    text-align: center;
    font-family: 'Source Serif Pro', sans-serif;
    font-size: 250%;
}
.menu-port{
    text-decoration: none;
    color:#ff66c4;
    font-size: 90%;  
}
.nav-port{
    width:100%;
    text-align:center;
}
.nav-port div{
    display: inline-block;    
}
.nav-port a:hover{
    color: #f8f8f8;
}
.section-1-port{
    margin:0 auto;
    padding:10% 0 0;
    text-align: center;
}
.text-aboutMe{
    padding: 5% 0 50% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    width:80%;
    margin:0 auto;
}
.mark-port{
    background-color: #ff66c4;
}
.trybe-buttom{
    font-size: 70%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    text-decoration: none;
    background-color: #0fa36b;
    border-radius: 25%;
    color: white;
    }
.img-perfil{
    max-width: 30%;
    min-width: 10%;
    border-radius: 50%;
}
.title-project-port{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    margin: 5% auto;
}
.section-2-port{
    padding: 0 0 50%;
    text-align: center;
}
.section-2-port article{
    margin: 0 auto;
    display: inline-block;
    width:25%;
}
.project-1-port{
    width:20%;
    text-align:center;
}
.img-snakeGame-project-port-1{
    width:80%;
}
.buttom-project-port{
    text-decoration: none;
    font: 100%;
    color: #f8f8f8;
    background-color: #302e2e;
    font-family: 'Montserrat', sans-serif;

}
.section-3-port{

    padding:0 0 1%;
    text-align: center;
}
.section-3-port h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    margin: 4% auto;
}
.section-3-port h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin: 2% auto;
}
.section-3-port ul{
    padding: 0 2% 2%;
    border-radius: 5%;
    text-align: left;
    color:#f8f8f8;
    background-color: #302e2e;
    margin: 0 auto;
    display: inline-block;
    width: 25%;
}
.end-port{
    background-color: #302e2e;
    width:100%;
}
.end-port h2{
    color: #f8f8f8;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
}
.end-port li{
    color: #ff66c4;
    font-style: 90%;

}
