@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0 auto;
  background: #fff;
  color: #353d46;
  font: 18px/27px 'Helvetic', sans-serif;
}

.container.menu-active nav#slide-menu {
  left: 0px;
}

.container.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}
.container.menu-active div#content {
  left: 150px;
  border-radius: 7px 0 0 7px;
}

.container.menu-active div#content .menu-trigger {
  left: 150px;
}
.img-perfil{
  width: 150px;
  padding: 0;
  margin: 0;
  border-radius: 5%;
}
.card{
  display:flex;
  flex-direction: row;
}
.navbar-item{
  padding: .5rem 1.75rem;
}
.title-proj{}
body.has-navbar-fixed-top, html.has-navbar-fixed-top {
  padding-top: 0;
}
.p-20px{
  padding: 20px;
}
nav#slide-menu {
  padding-top:0;
  margin-top: 0;
  background-color: #302e2e;
  position: fixed;
  left: -200px;
  display: block;
  float: left;
  width: 100%;
  max-width: 150px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > ul {
  display: block;
  margin: 0px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > ul li {
  color: #302e2e;
  padding: 6px 0;
  cursor: pointer;
}
nav#slide-menu > ul li:hover {
  color: #ff66c4;
}
nav#slide-menu > ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #ff66c4;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

nav#slide-menu > ul li i{
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #ff66c4;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}
nav#slide-menu > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #fff;
}



div#content {
  align-items: flex-start;
  flex-wrap: wrap;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
  overflow: scroll;
  background: #fff;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -2px 0 3px #4a5562;
  box-shadow: -2px 0 3px #4a5562;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
div#content div.menu-trigger {
  /* position: fixed; */
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  background: #302e2e;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
div#content div.menu-trigger i {
  display: inline-block;
  width: 36px;
  height: 36px;
  color: black;
  font-style: normal;
  font-size: 1.2em;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 36px;
}
div#content div.menu-trigger:hover {
  background: #302e2e;
}
div#content div.menu-trigger i:hover {
  color: #302e2e;
}



/*End CSS example*/

/*Other CSS*/
body{
  font-family: helvetica;
  font-size: 1.2em;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  width: 40%;
  background-color: #302e2e;
}

.container{ 
   margin-top: 50px; 
  width: 50%;
}










main img {
  width: 100%;
}
.post {
  height: 380px;
  width: 100%;
  max-width: 50rem;
  padding: 0;
  background-color: #fff;
  box-sizing: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin: 20px auto;
  transition: 0.3s ease;
}
.post:hover {
  box-shadow: 0.8rem 0.8rem 0.8rem -0.5rem rgba(255, 0, 255, 0.212);
  transition: 0.3s ease;
}
.img-post {
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
  transform: translateX(-2rem);
  position: relative;
}
.img-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}
.img-post::before {
  content: "";
  border-radius: 5%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(231, 33, 231, 0.842),
    rgba(126, 126, 126, 0.082)
  );
  box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(255, 0, 255, 0.212);
}
.data span {
  display: block;
  color: #302e2e;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.title-post {
  font-size: 1rem;
  color: #ff66c4;
  font-weight: 400;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
}
.sobre-post {
  margin-bottom: 3rem;
  font-size: 0.8rem;
  color: #302e2e;
}
.buttom-post {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  color: #eee;
  background: linear-gradient(
    to right,
    rgba(231, 33, 231, 0.842),
    rgba(255, 1, 200, 0.39)
  );
  border-radius: 0.8rem;
}
.sobre {
  margin: 0 auto;
  margin-top:200px;
  box-sizing: border-box;
  font-size: 0.8rem;
  font-family: "Open sans", sans-serif;
  color: #302e2e;
  background-color: #fff;
  height: 380px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}
:root {
  --gradient-color: linear-gradient(
    to top,
    rgba(231, 33, 142, 0.801),
    rgba(230, 143, 221, 0.575)
  );
}
.sobre a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 1;
  box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.2);
}
.img-data {
  height: 15rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/sobre-min.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  transition: transform 5s;
}
.card:hover .background-img {
  transform: scale(1.5);
}
.publication-details {
  width: 100%;
  height: 100%;
  background: var(--gradient-color);
  color: #e2e8f0;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  padding: 1rem;
}
.publication-details i {
  margin-right: 1rem;
}
.author {
  color: #e2e8f0;
  display: inline-block;
  margin-bottom: 1rem;
  transition: all 0.5s 0.3s;
}
.author:hover {
  color: rgba(255, 255, 255, 0.9);
}
.date {
  display: block;
}
.poste-date {
  background-color: #fff;
  padding: 1rem 2rem;
  position: relative;
}
.title-sobre {
  font-size: 2rem;
  line-height: 1;
}
.subtitle-sobre {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #a2a2a2;
  margin: 0.6rem 0 0.8rem 0;
}
.descricao {
  font-size: 0.8rem;
  position: relative;
}
.descricao::first-letter {
  margin-left: 0.6rem;
}
.descricao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3rem;
  height: 1rem;
  background: var(--gradient-color);
  border-radius: 1rem;
}
.saiba-mais {
  text-align: right;
  font-weight: bold;
  margin-top: 1rem;
}
.saiba-mais a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}
.saiba-mais a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--gradient-color);
  transform: scaleX(0);
  transition: 0.3s ease;
}
.saiba-mais a:hover::before {
  transform: scaleX(1);
}
@media screen and (min-width: 600px) {
  .card {
    flex-direction: row;
    max-width: 37rem;
  }
  .img-data {
    flex-basis: 40%;
    height: unset;
  }
  .publication-details {
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .card:hover .publication-details {
    transform: translateX(0);
  }
  .author {
    transform: translateY(-1.5rem);
    opacity: 0;
  }
  .date {
    transform: translateY(1.5rem);
    opacity: 0;
    transition: all 0.5s 0.3s;
  }
  .card:hover .author,
  .card:hover .date {
    transform: translateY(0);
    opacity: 1;
  }

  .poste-date {
    flex-basis: 60%;
  }
  .poste-date::before {
    content: "";
    width: 1.75rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -0.75rem;
    z-index: 10;
    transform: skewX(-5deg);
  }
}
.none {
  display: none;
}
.trybe-buttom {
  color: #1fe097;
}
.section-footer {
  margin-top: 600px;
  width: 92.6%;
  background: #e2e8f0;
  display: inline-block;
  height: 50vh;
  text-align: center;
  padding:  0px;
  text-decoration: underline;
  font-size: 36px;
  color: #f1f1f1;
  font-weight: 700;
}
.footer {
  background: #666;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  padding: 15rem 30px 15rem 30px;
}
.footer .footer-left {
  width: 25%;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer h3 {
  color: #ff66c4;
  font-size: 60px;
  margin: 0;
  font-weight: 300;
}
.footer h3 span {
  color: #e2e8f0;
}
.footer .footer-links {
  color: #e2e8f0;
  margin: 20px 0 12px;
  padding: 0;
}
.footer .footer-links a {
  font-size: 22px;
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  transition: 0.3s ease;
}
.footer .footer-links a:before {
  content: "|";
  font-weight: normal;
  font-size: 30px;
  color: #e2e8f0;
  display: inline-block;
  padding-right: 5px;
  left: 0;
}
.footer .footer-links a:hover {
  color: #ff66c4;
}
.footer .footer-links .link1:before {
  content: none;
}
.footer .footer-company {
  color: #222;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
.footer .footer-center {
  width: 33%;
}
.footer .footer-center i {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  margin: 10px 15px;
  vertical-align: middle;
  background: #33383b;
  font-size: 40px;
  transition: 0.3s ease;
}
.footer .footer-center i:hover {
  color: #e2e8f0;
  font-size: 25px;
}
.footer .footer-center p {
  display: inline-block;
  color: #e2e8f0;
  font-weight: normal;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p a {
  text-decoration: none;
  color: #494648;
  transition: 0.3s ease;
}
.footer .footer-center p a:hover {
  text-decoration: none;
  color: #ff66c4;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 10px;
  line-height: 2;
}
.footer .footer-right {
  width: 30%;
}
.footer .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.footer .footer-company-about span {
  display: block;
  color: #e2e8f0;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
.footer .footer-social {
  margin-top: 25px;
}
.footer .footer-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #33383b;
  border-radius: 5px;
  font-size: 18px;
  line-height: 2.5rem;
  color: #e2e8f0;
  text-align: center;
  transition: 0.1s;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer .footer-social a:hover {

  color: #ff66c4;

}
@media (max-width: 880px) {
  .footer {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }
}
