@import './bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
.mg {
    margin: 20% 0 20%;
}
.header-app {
    display: none;
}
.hero-name {
    color: black;
    font-family: 'crimson text';
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 1rem;
}

.inline {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}
.inline a {
    color: #000000;
    margin-bottom: 1.5rem
}
